<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${logger}.txt"
            layout="${logger} | ${longdate} ${callsite} ${level} ${message}"
            archiveFileName="${basedir}/logs/archive/${logger}.{#}.txt"
            header="${machinename}-${longdate}"
            footer="${machinename}-${longdate}"
            archiveEvery="Day"  archiveNumbering="Date"
            maxArchiveFiles="1"  archiveAboveSize="700000" />
    
    <!--<target name="full_logfile" xsi:type="File" fileName="${basedir}/logs/sys_${logger}.txt"
                    layout="${logger} | ${longdate} ${level} ${exception:format=tostring}"
                    archiveFileName="${basedir}/logs/archive/${logger}.{#}.txt"
                    header="${machinename}-${longdate}"
                    footer="${machinename}-${longdate}"
                    archiveEvery="Day"  archiveNumbering="Date"
                    maxArchiveFiles="1"  archiveAboveSize="700000" />--> 

    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="logconsole" />-->
    <logger name="TestNLog.*" minlevel="Info" writeTo="logfile" />
    <!--<logger name="TestNLog.MySystem" minlevel="Info" writeTo="full_logfile" />-->

    
    <!--<logger name="Request" minlevel="Info" writeTo="logfile" />
    <logger name="SignalR" minlevel="Info" writeTo="logfile" />
    <logger name="Authen" minlevel="Info" writeTo="logfile" />
    <logger name="Life_Event" minlevel="Info" writeTo="logfile" />
    <logger name="Other" minlevel="Info" writeTo="logfile" />-->
  </rules>
</nlog>