<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <targets>
      <target xsi:type="FormControl"
              name="testlog1"
              layout="${date:format=HH\:mm\:ss} | ${level} | ${message}${newline}"
              append="true"
              reverseOrder="true"
              controlName="textBox1"
              formName="Form1" />
      
      <target xsi:type="FormControl"
             name="testlog2"
             layout="${date:format=HH\:mm\:ss} | ${level} | ${message}${newline}"
             append="true"
             reverseOrder="true"
             controlName="logTextBox"
             formName="AsyncTestForm" />
    </targets>
    <rules>
      <logger name="log1" level="Info" writeTo="testlog1" />
      <logger name="log2" level="Info" writeTo="testlog2" />
      <!--<logger name="*" minlevel="Debug" writeTo="testlog1" />-->
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>